# ---------------------------------------
# 🔐 Secrets（Cloudflare Workersなど）
src/secrets/
*.env
.env.*
.dev.vars

# ---------------------------------------
# 🔐 Secrets を含むテストスクリプト/バッチ
src/kv-api/*.bat
src/kv-api/*.sh

# ---------------------------------------
# 📁 個人用バックアップ・覚え書き
.backup/

# ---------------------------------------
# 🧪 Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# ---------------------------------------
# 🧯 Diagnostic reports
report.[0-9]*.json

# ---------------------------------------
# 🔄 Runtime data
pids/
*.pid
*.seed
*.pid.lock

# ---------------------------------------
# 🛠 JS Coverage & Build tools
lib-cov/
coverage/
*.lcov
.nyc_output/
.grunt/
build/Release/
.rpt2_cache/
.rts2_cache_*/
jspm_packages/
bower_components/
node_modules/
dist/
out/
web_modules/

# ---------------------------------------
# 🧱 Framework build cache
.next/
.nuxt/
.vuepress/dist/
.temp/
.cache/
.docusaurus/
.serverless/
.fusebox/
.dynamodb/
.tern-port/

# ---------------------------------------
# 🧩 Config & Cache
.lock-wscript
*.tsbuildinfo
.npm/
.eslintcache
.stylelintcache
.node_repl_history
.vscode-test/
.vscode/
*.tgz
.yarn-integrity
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
.pnp.js

# ---------------------------------------
# 📦 Cloudflare Wrangler
.wrangler/

# ---------------------------------------
# ⚙️ VSCode Remote Dev Containersなどの一時ディレクトリ
restless-term-*/
.vscode-server/
.vscode-remote/


# ---------------------------------------
# 💻 OS依存ファイル
.DS_Store
Thumbs.db

# ---------------------------------------
# 🗑 エディタが吐く一時ファイル
*.bak
*.tmp


